<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= image_tag 'hms-logo-dark.png', alt: 'Happy Mood Score' %>
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      <%= t 'resetPassword.header' %>
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <% if @invalid_credentials %>
        <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <p class="text-sm text-yellow-700">
              <%= t('resetPassword.passwordError') %>
              </p>
              <% if @no_match %>
                <p class="text-sm text-yellow-700">
                <%= t('resetPassword.passwordConfirmationError') %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= tw_form_with model: @user, url: password_reset_path(@token), method: :put, class: "px-10 py-4", data: { turbo: false } do |login_form| %>
        <%= login_form.password_input :password, error: @invalid_credentials do %>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"></path></svg>
        <% end %>
        <%= login_form.password_input :password_confirmation, error: @invalid_credentials do %>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"></path></svg>
        <% end %>
        <div class="mt-6">
          <span class="block w-full rounded-md shadow-sm">
            <button type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              <%= t 'resetPassword.submit' %>
            </button>
          </span>
        </div>
      <% end %>
    </div>
    <div class="mt-6">
      <div class="text-md text-center leading-5">
        <%= link_to t('resetPassword.login'), login_url, class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150", data: { turbo: false } %>
        </a>
      </div>
    </div>
  </div>
</div>
