<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h1 class="text-2xl font-bold leading-7 text-purple-900 sm:text-3xl sm:leading-9 sm:truncate">
      <%# #if isTeam  %>
      <%# t 'dashboardHeaderAdmin.dashboard' teamName  %>
      <%# else %>
      <%# #if isEmployee  %>
      <%# t 'dashboardHeaderAdmin.dashboard' employeeName  %>
      <%# else %>
      <%= t 'dashboardHeaderAdmin.dashboardHeader'  %>
      <%# /if %>
      <%# /if %>
    </h1>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
    <% if false #isTeam  %>
      <div class="mr-4">
        <span class="rounded-md shadow-sm">
          <a href="" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-yellow-700 bg-yellow-100 hover:bg-yellow-50 focus:outline-none focus:border-yellow-300 focus:shadow-outline-yellow active:bg-yellow-200 transition ease-in-out duration-150">
            <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <%= t 'dashboardHeaderAdmin.viewStats'  %>
          </a>
        </span>
      </div>
    <% else %>
      <div class="mr-4">
        <span class="rounded-md shadow-sm">
          <%= link_to global_admin_trends_url, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-yellow-700 bg-yellow-100 hover:bg-yellow-50 focus:outline-none focus:border-yellow-300 focus:shadow-outline-yellow active:bg-yellow-200 transition ease-in-out duration-150" do %>
            <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <%= t 'sideAdmin.globalStats' %>
            <% end %>
        </span>
      </div>
        <div class="mr-4">
          <span class="rounded-md shadow-sm">
            <%= link_to teams_admin_ranking_index_url, class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-yellow-700 bg-yellow-100 hover:bg-yellow-50 focus:outline-none focus:border-yellow-300 focus:shadow-outline-yellow active:bg-yellow-200 transition ease-in-out duration-150" do %>
              <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M4 6h16M4 10h16M4 14h16M4 18h16" />
              </svg>
              <%= t 'sideAdmin.teamsRanking' %>
              <% end %>
          </span>
        </div>
      <div class="mr-4">
        <span class="rounded-md shadow-sm">
          <%= link_to employees_admin_ranking_index_url, class:"inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-yellow-700 bg-yellow-100 hover:bg-yellow-50 focus:outline-none focus:border-yellow-300 focus:shadow-outline-yellow active:bg-yellow-200 transition ease-in-out duration-150" do %>
            <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
              </path>
            </svg>
            <%= t 'sideAdmin.employeesRanking' %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
