<%= tw_form_with url: toggle_admin_poll_url(poll), method: :put, class: "px-10 py-4" do |form| %>
  <div class="flex items-center">
    <span class="text-sm text-gray-900 mr-2"><%= t('pollsIndex.inactive') %></span>
    <button type="submit" class="<%= bg_active(poll.active) %> relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" role="switch" aria-checked="false" aria-labelledby="annual-billing-label">
      <span class="sr-only">Use setting</span>
      <span aria-hidden="true" class="<%= tr_active(poll.active) %> pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
    </button>
    <span class="ml-2">
      <span class="text-sm font-medium text-gray-900"><%= t('pollsIndex.active') %></span>
    </span>
  </div>
<% end %>
