  <div class="px-4 py-5 sm:px-6 border-t border-gray-200">
    <dl class="grid grid-cols-1 col-gap-4 row-gap-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <p class="text-sm leading-5 font-medium text-gray-500">
          <%= time_with_timezone message.created_at, message.poll.company  %>
          <span class="ml-4 px-2 inline-flex text-xs leading-5 font-semibold rounded-full <%= result_to_colour message.result  %>">
            <%= message.option_title  %>
          </span>
        </p>
      </div>
      <div class="mt-4 sm:col-span-2">
        <dt class="text-sm leading-5 font-medium text-gray-500">
          <%= t 'pollsShow.message' %>
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= message.comment  %>
        </dd>
      </div>
    </dl>
  </div>
