<turbo-frame id="admin-teams">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-orange-900 sm:text-3xl sm:leading-9 sm:truncate">
          <%= t 'teamsList.teams' %>
        </h2>
      </div>
      <div class="mt- flex md:mt-0 md:ml-4">
        <div class="mr-4">
          <span class="rounded-md shadow-sm">
            <%= link_to new_admin_upload_url, class: "inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150", data: { turbo: false }  do %>
              <svg class="-ml-1 mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
              <%= t 'addEmployee.uploadCsv'  %>
            <% end %>
          </span>
        </div>
        <div class="mr-4">
          <span class="rounded-md shadow-sm">
            <%= link_to new_admin_team_url, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition ease-in-out duration-150" do %>
              <svg class="-ml-1 mr-2 h-5 w-5" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                <path d="M12 4v16m8-8H4"></path>
              </svg>
              <%= t 'teamsList.addNewTeam' %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="mt-6 bg-white px-4 py-5 border border-gray-200 rounded-md sm:px-6">
      <ul>
        <%= render @teams %>
      </ul>
    </div>
</turbo-frame>
