<turbo-frame id="admin-teams">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-orange-900 sm:text-3xl sm:leading-9 sm:truncate">
          <%= t 'addTeam.title'  %>
        </h2>
      </div>
      <div class="mt- flex md:mt-0 md:ml-4">
        <div class="mr-4">
          <span class="rounded-md shadow-sm">
            <%= link_to t('addTeam.backToList'), admin_teams_url, class: "inline-flex items-center font-medium text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150" %>
          </span>
        </div>
      </div>
    </div>
    <div class="mt-6 bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t 'addTeam.addNewTeam'  %></h3>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            <%= t 'addTeam.addNewTeamInfo'  %>
          </p>
        </div>
        <div class="mt-6 md:mt-0 md:col-span-2">
          <%= render 'form' %>
        </div>
      </div>
    </div>
</turbo-frame>
