<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Free talent retention and feedback tool - Happy Mood Score</title>
    <%= yield :custom_header %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedback and employee engagement tool for agile companies, startups or companies with remote employees, distributed teams or digital nomads.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <script src=//cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js></script>
    <meta name="author" content="Jorge Alvarez - @jorgealvarez">
  </head>
  <body class="font-sans antialiased text-gray-900">
    <div data-controller="sidebar"
         data-sidebar-show-class="block"
         data-sidebar-hide-class="hidden"
         class="h-screen flex overflow-hidden ">
      <div data-sidebar-target="menu" class="hidden">
        <div class="fixed inset-0 flex z-40">
          <div class="fixed inset-0">
            <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
          </div>
          <div class="relative flex-1 flex flex-col max-w-xs w-full bg-white">
            <div class="absolute top-0 right-0 -mr-12 pt-2">
              <button
                data-action="click->sidebar#toggle"
                class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                                                               stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>
            <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
              <h1 class="flex-shrink-0 flex justify-center items-center px-4">
                <a href="https://www.happymoodscore.com">
                  <%= image_tag 'hms-logo-dark.png', alt: 'Happy Mood Score' %>
                </a>
              </h1>
              <nav class="mt-5 px-2 space-y-1">
                <%= render 'layouts/menu/side/index' %>
              </nav>
            </div>
            <%= render 'layouts/menu/user/index' %>
          </div>
          <div class="flex-shrink-0 w-14">
          </div>
        </div>
      </div>
      <div class="hidden lg:flex lg:flex-shrink-0">
        <div class="flex flex-col w-64 border-r border-gray-200 bg-white">
          <div class="flex flex-col h-0 flex-1 bg-white">
            <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
              <h1 class="flex-shrink-0 flex justify-center items-center px-4">
                <a href="https://www.happymoodscore.com">
                  <%= image_tag 'hms-logo-dark.png', alt: 'Happy Mood Score' %>
                </a>
              </h1>
              <nav class="mt-5 flex-1 px-2 space-y-1">
                <%= render 'layouts//menu/side/index' %>
              </nav>
            </div>
            <%= render 'layouts/menu/user/index' %>
          </div>
        </div>
      </div>
      <%= render 'layouts/menu/user/items' %>
      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <div class="md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3">
          <button
            data-action="click->sidebar#toggle"
            class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
          </button>
        </div>
        <main class=" bg-gray-50 flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0">
          <% flash.each do |type, message| %>
            <%= render 'shared/notice', type: type, message: message %>
          <% end %>
          <div class="max-w-7xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
